
.add-button {
  width: 150px;
  height: 50px;
  justify-self: end;

  border: 2px solid #fff;
  border-radius: 2px;

  background-image: url('../../images/add-button.svg');
  background-repeat: no-repeat;
  background-position: center;

  background-color: transparent;
  box-shadow: none;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  outline: none;

  transition: opacity .5s linear;
}

.add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .add-button{
    width: 282px;
    height: 50px;
    justify-self: center;

  }
}