
.popup__button-close {
  width: 40px;
  height: 40px;
  background-image: url('../../../images/closeIcon.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;

  border: none;
  background-color: transparent;
  box-shadow: none;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  outline: none;

  transition: opacity .5s linear;
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    right: 0;
    top: - 14px;

    width: 26px;
    height: 26px;
  }
}