
.element__delete {
  position: absolute;
  right: 15px;
  top: 15px;

  width: 18px;
  height: 20px;

  display: none;

  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  outline: none;

  background-image: url('../../../images/trash.svg');

  transition: opacity .5s linear;
}

.element__delete:hover {
  opacity: .6;
}